/* Light Mode Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ddd #f1f1f1;
}

/* Dark Mode Scrollbar */
.dark-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #0f172b; /* slate-700 */
  border-radius: 4px;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600 */
  border-radius: 4px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}

.dark-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #475569 #334155; /* thumb color track color */
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hover Scrollbar */
.scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}

/* Dark Hover Scrollbar */
.dark-scrollbar-hover::-webkit-scrollbar {
  display: none;
}

.dark-scrollbar-hover:hover::-webkit-scrollbar {
  display: block;
}