.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  }
  
  
  @media (max-width: 764px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 35px; 
    }
  }
  

  @media (max-width: 375px) {
    .grid {
      grid-template-columns: 1fr; 
      gap: 35px; 
    }
  }